* {
  margin: 0;
  padding: 0;
}

/*Styles Registro*/
.container-register {
  background: #EAEDED;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

.form-register {
  width: 500px;
  height: 550px;
  background-color: #282c34;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
  padding: 20px;
  border-radius: 4px;
}

.form-register h4 {
  font-size: 2em;
}

.input-regiter {
  margin: 10px;
  width: 450px;
}

.btn-register {
  width: 450px;
  background-color: #3498DB;
  color: #fff;
  padding: 5px 7px;
  border-radius: 4px;
  margin: 15px 0px;
}

.btn-register:hover {
  opacity: .8;
  color: #fff;
}

.form-register a {
  color: #fff;
  text-decoration: none;
}

.form-register p a {
  color: #3498DB;
}

.link-register:hover {
  text-decoration: underline;
  margin-top: 200px;
}

.input-regiter {
  background-color: #282c34;
  border-radius: 4px;
  border: 1px solid #fff;
  padding: 5px;
  color: #fff;
  outline: none;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none; 
  margin: 0;
}